.doubleinput {
  display: flex;
}

.inputwithaddButton {
  display: flex;
}

.circlebuttononform {
  margin-top: 47px;
}

.circlebuttononformbig {
  //margin-top: 142px;
  position: absolute;
  right: 28px;
  bottom: 0;
}

.info {
  display: block;
  max-width: 585px;
  font-size: 10px;
  color: grey;
  margin-top: 30px;
  margin-bottom: 20px;
}

