.metro {
  font-size: 20px;
  color: #F8C300;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 14px;
}

.links {
  font-size: 14px;
  color: white;
  margin-right: 14px
}

.linkcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}