.background {
  height: 100%;
  width: 100%;
  background-color: black;
  background-image: url("../../../assets/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  overflow-x: hidden;
}
